*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration:none;
    color: #555;
}
.container{
    max-width: 1800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px;
}
.col-2 h1{
font-size: 50px;
line-height: 50px;
margin-bottom: 10px;
}
.btn{
    display: inline-block;
    background: orange;
    color:#fff ;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s ; 
    margin-top: 30px;
}
.btn:hover{
    background: rgb(6, 26, 0);
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 10px
}
.col1{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col1 img{
    width: 100%;
    
}
.smallcontainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.categories{
    margin: 20px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 40px;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
h4{
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
p{
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.col4:hover{
    transform: translateY(-50px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 20px;
    padding: 30px 0;
}
.col-2 .offerimg{
    padding: 50px;
}
.col-2 p{
    font-size: 20px;
    margin-bottom: 10px;
}
.col-2 small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    color: darkblue;
    
}
.review{
    padding-top: 100px;
    border-radius: 100%;
}
.review .col1 img{
    border-radius: 50%;
    width: 50px;
    margin-top: 20px;
    
}
.review .col1{
    text-align: center;
    padding: 40px 20px ;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: transform 0.5s;
}
.review .col1:hover{
    transform: translateY(-50px);
}
.col1 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
    font-family: 'Times New Roman', Times, serif;
}
.review .col1 h3{
    font-weight: 600;
    color: #555;
    font-size: 20px;
}
.col5{
    margin-top: 50px;
    width: 100%;
    flex-basis: 10%;
    min-width: 200px;
    cursor: pointer;
}
.footer{
    margin-top: 40px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    padding: 20px;
}
.footercol3, .footercol1, .footercol2, .footercol4{
    text-align: center;
    min-width: 250px;
    padding: 20px;
}
 ul{
   list-style-type: none;
}
.footercol1{
    flex-basis: 30%;
}
.footercol2{
    flex-basis: 1%;
    text-align: center;
}
.footercol2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footercol3, .footercol4{
    flex-basis: 12%;
    text-align: center;
}
.app{
    margin-top: 20px;
}
.app img{
    width: 140px;
}
.menu{
    margin-left: 30px;
    width: 19px;
}
.ww{
    margin-bottom: 100px;
}
@media only screen and(max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
    }
}